<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание нового продукта</title>

</head>
<body>

<div class="container">
    <h2>Создание нового продукта</h2>
    <form action="/product/save" method="post" th:if = "${product!=null}">
        <div class="form-group">
            <input type="hidden" name="id" id="id" th:value="${product.id}">
        </div>
        <div class="form-group">
            <label for="name">Название продукта:</label>
            <input type="text" id="name" name="title" th:value="${product.title}">
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <input type="text" name="description" id="description" th:value="${product.description}">
        </div>
        <div class="form-group">
            <button type="submit">Создать продукт</button>
        </div>
    </form>

    <form action="/product/save" method="post" th:if = "${product==null}">
        <input type="text" name="title">
        <input type="text" name="description">
        <div class="form-group">
            <button type="submit">Создать продукт</button>
        </div>
    </form>
    <a th:href="@{/}">GO HOME</a>
</div>
</body>
</html>