<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #4e1b1b;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Product List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod : ${products}">
        <td th:text="${prod.id}"></td>
        <td th:text="${prod.title}"></td>
        <td th:text="${prod.description}"></td>
        <td>
            <a th:href="@{/product/{id}(id=${prod.id})}">EDIT</a>
        </td>
        <td>
            <a th:href="@{/product/{id}/delete(id=${prod.id})}">DELETE</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/product/new }">ADD PRODUCT</a>
</body>
</html>